<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.sampling.Custom_RTL">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
    <application android:label="Custom.RTL.Android">
    </application>
</manifest>